.filter{
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  align-items: center;
}
.book-list{
  margin-top: 1.5rem;
}
table{
  width: 100%;
}
.ml-2{
  margin-left: 1rem;
}
