<div class="content-wrapper">
  <a [routerLink]="['../']" > <mat-icon>arrow_back</mat-icon></a>
  <form class="form" [formGroup]="bookForm" (ngSubmit)="submit()">
    <mat-form-field class="" appearance="outline">
      <mat-label>Name of the Book</mat-label>
      <input formControlName="name" matInput placeholder="Enter a book name">
    </mat-form-field>

    <mat-form-field class="" appearance="outline">
      <mat-label>Name of the Author</mat-label>
      <input formControlName="author" matInput placeholder="Enter author's name">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput formControlName="publishedDate" [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <section class="align-start">
      <label>BestSeller ?
        <mat-checkbox formControlName="bestseller"></mat-checkbox>
      </label>
    </section>

    <button mat-flat-button color="primary">{{this.isEditMode?'Update Book':'Add Book'}}</button>
  </form>
</div>
